name: 'Lint Code'

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  lint_python:
    name: Lint Python Files
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8

    - name: Print working directory
      run: pwd

    - name: Run Linter
      run: |
        pwd
        ls -la
        # This command finds all Python files recursively, excluding virtual environments and migrations, and runs flake8 on them
        find ./server -name "*.py" -not -path "*/djangoenv/*" -not -path "*/migrations/*" -print0 | xargs -0 flake8 --max-line-length=120 --extend-ignore=E501 || exit 1
        echo "Linted all the python files successfully"

  lint_js:
      name: Lint JavaScript Files
      runs-on: ubuntu-latest

      steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Install JSHint
        run: npm install jshint --global

      - name: Run Linter
        run: |
          pwd
          ls -la ./server/database || echo "Directory check"
          # This command finds all JavaScript files recursively and runs JSHint on them
          find ./server/database -name "*.js" -print0 | xargs -0 -I {} sh -c 'jshint {} || exit 1'
          echo "Linted all the js files successfully"

